.account {
    width: 80%;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.container {
    width: 100%;
    height: 116px;
    display: flex;
}
.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
}
.check {
    font-size: 1.4rem;
    margin-left: 4px;
    color: rgb(170, 170, 221);
}
.info {
    margin-left: 20px;
    width: 208px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user_name {
    font-size: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 116px;
    font-size: 3rem;
}

.account_info {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}
.account_title {
    margin-top: 20px;
}

//Video
.videos {
    margin-left: 30px;
    width: 100%;
    height: 300px;
}
.video_tab {
    width: 80%;
    height: 40px;
    display: flex;
    position: relative;
}
.video_tab_item {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.opacity {
    opacity: 0.5;
}
.scroll_bar {
    bottom: 0;
    height: 2px;
    background: rgb(22, 24, 35);
    width: 50%;
    position: absolute;
}
@keyframes scrollAnimationLeftToRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(308px);
    }
}

@keyframes scrollAnimationRightToLeft {
    0% {
        transform: translateX(308px);
    }
    1000% {
        transform: translateX(0);
    }
}

.no_active:hover + .scroll_bar {
    animation: scrollAnimationLeftToRight 0.5s forwards;
}

.no_active:not(:hover) + .scroll_bar {
    animation: scrollAnimationRightToLeft 0.5s forwards;
    // forwards giúp nó đứng yên sau khi dùng animation đổi vị trí
    // backwards giúp nó quay về vị trí ban đầu sau khi dùng animation đổi vị trí
}

.icon_share,
.icon_play {
    margin-right: 8px;
}

.video_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.video_item {
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}
.video_wrapper {
    width: 100%;
    height: 320px;
    position: relative;
    width: calc(25% - 10px);

    & + & {
        margin-left: 10px;
        margin-bottom: 16px;
    }
    &:nth-child(4n + 1) {
        margin-left: 0; /* Remove left margin for the first video in each row */
    }
}
.video_views {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: white;
}
.video_description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;

    //show 1 line but more then show ...
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

//Private

.private {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon_private {
    height: 90px;
    width: 90px;
    font-size: 60px;
    color: #d7d8de;
    text-align: center;
    line-height: 90px;
}
.title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: rgb(22, 24, 35);
    margin-top: 24px;
}

.description {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
}
