//Menu wrapper

.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

//Menu items

.menu-item {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    line-height: 1.8rem;

    &.separate1 {
        border-top: 1px solid var(--borderLineColor);
    }

    &:hover {
        background: var(--hoverBgColor);
    }
}

.menu-popper {
    padding-bottom: 8px;
    background-color: var(--tippyBgColor);
}

.menu-body {
    overflow-y: overlay;
}
//Header

.header {
    position: relative;
    height: 50px;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Theme
.title {
    position: relative;
}
.dark {
    // position: absolute;
    // right: 18px;
    // bottom: 14px;
    // font-size: 2.7rem;

    position: absolute;
    right: -88px;
    bottom: -6px;
    font-size: 2.7rem;
}
