.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: 46px;
    width: 361px;
    background: var(--searchColor);
    border-radius: 92px;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    margin-left: 170px;

    input {
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        // background: var(--searchColor);

        padding-left: 16px;
        flex: 1;
        caret-color: red; // này là kí tự | để nhập giá trị input
        font-family: 'TikTokFont';
        padding-right: 44px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--lineColor);
    } //Khi chữ được nhập vào trong ô input thì thằng phía sau là search-btn sẽ có color thay đổi
    //Giả sử trường hợp nếu ô input phía sau thì sao. Thì trong file HTML ta vẫn khai báo input trước
    //icon sau đó ta dùng flex: row và flex-direction: row-reverse thì nó sẽ đảo lại mà ta vẫn có thể
    //dùng ~ để đổi màu nó.
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 52px;
        height: 28px;
        transform: translateY(-50%);
        // transform: translateY(-50%) mình hiểu nó sẽ dịch cái phần tử đó theo trục Y - tức là height và trừ đi 50% chiều cao của nó
        border-left: 1px solid var(--lineColor);
    }

    //Nếu muốn giống anh Sơn thì dùng cái này và dùng e.preventDefault trong ô search
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    //Còn nếu muốn làm cái hover vào mà hiển thị border và sáng background thì dùng cái dưới này
    &:hover {
        border-color: rgba(195, 197, 206, 0.2);
    }

    &:hover {
        .search-btn {
            // background: #404041;
            background: var(--searchBtnBgHoverColor);
            // color: var(--text-color);
        }
    }
}
.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.093px;
    font-weight: 600;
    color: var(--searchAccountColor);
}

.clear,
.loading {
    position: absolute;
    right: calc(52px + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--searchClearColor);
    border-radius: 50%;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 2rem;
    color: var(--textColor);
    background-color: var(--searchColor);

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.2) !important;
        //Nếu không dùng important thì cái active không hoạt động do bị cái CSS khác ảnh hưởng đến
    }
}
